<div class="row">
  <div class="col-12">
    <div class="text-center">
      <h1>Listado Personas</h1>
    </div>
  </div>
</div>

<div class="row mb-4">
  <!-- <app-agregar [nuevo]="nuevo"></app-agregar> -->
  <div class="col-12">
   <form>
    <div class="col-6 offset-3 mb-3">
      <label for="nombre" class="form-label">Nombre: </label>
      <input
        type="text"
        placeholder="Nombre"
        name="nombre"
        id="nombre"
        class="form-control form-control-sm"
      >
    </div>
    <div class="col-6 offset-3 mb-3">
      <label for="edad" class="form-label">Edad: </label>
      <input
        type="number"
        placeholder="Edad"
        name="edad"
        id="edad"
        class="form-control form-control-sm"
      >
    </div>
    <div class="col-6 offset-3 mb-3">
      <label for="direccion" class="form-label">Direccion: </label>
      <input
        type="text"
        placeholder="Direccion"
        name="direccion"
        id="direccion"
        class="form-control form-control-sm"
      >
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
      <button class="btn btn-primary" type="submit">
        + Agregar
      </button>
    </div>
   </form>
  </div>
</div>

<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Edad</th>
        <th scope="col">Direccion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of personas; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ p.nombre }}</td>
        <td>{{ p.edad }}</td>
        <td>{{ p.direccion }}</td>
      </tr>
    </tbody>
  </table>
</div>
